
/* RESETS
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
} */

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*GLOBAL CLASSES*/
.main-body {
  display: flex;
  flex-direction: column;
}

.movie-info, .movie-trailer {
  max-width: 400px;
}

.movieSchedule {
  max-width: 800px;
}

.carousel-item {
  max-width: 800px;
  min-height: 400px;
}